html {
    font-size: 16px;
}

ul li {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.contact {
    &__map {
        iframe {
            height: 100%;
        }
    }

    &__calc {
        h1 {
            text-transform: uppercase;
            font-size     : 2.5rem;
        }

        h2 {
            font-size: 2rem;
        }

        ul li {
            position: relative;

            input[type='radio'] {
                display: none;
            }

            label {
                font-size: 1.35em;
                margin   : 10px;
                cursor   : pointer;

                &:before {
                    content         : " ";
                    display         : inline-block;
                    position        : relative;
                    top             : 5px;
                    left            : 0;
                    margin          : 0 10px 0 0;
                    width           : 30px;
                    height          : 30px;
                    border-radius   : 50%;
                    border          : 3px solid black;
                    background-color: transparent;
                    transition      : all 0.4s;
                }

                &:hover {
                    color: #7e4240;

                    &::before {
                        border-color: #7e4240;
                    }
                }
            }

            input[type=radio]:checked~label {
                color: #d5ae3a;

                &::before {
                    border-color: #d5ae3a;
                }

                &:after {
                    border-radius: 50%;
                    width        : 20px;
                    height       : 20px;
                    position     : absolute;
                    top          : 20px;
                    left         : 15px;
                    content      : " ";
                    display      : block;
                    background   : #d5ae3a;
                }
            }
        }


    }

    &__form {

        &__title {
            margin  : 20px auto;
            position: relative;

            span {
                &::after {
                    content   : "";
                    display   : block;
                    position  : absolute;
                    bottom    : -1px;
                    left      : 0;
                    width     : 0;
                    height    : 2px;
                    background: linear-gradient(45deg, #884747, #e0c04d);
                    transition: linear 0.4s;
                }
            }

            input {
                border       : transparent;
                position     : relative;
                border-bottom: 2px solid #dbdbdb;
                font-size    : 22px;
                transition   : all 0.4s;

                &:focus {
                    outline   : none;
                    box-shadow: 0 0 0 0;
                    border    : transparent;

                    &~span::after {
                        width: 100%;
                    }
                }
            }
        }

        button {
            overflow       : hidden;
            position       : relative;
            display        : flex;
            justify-content: center;
            align-items    : center;
            padding        : 0 20px;
            min-width      : 244px;
            height         : 50px;

            .btn-calc {
                position : relative;
                color    : #fff;
                font-size: 16px;
                z-index  : 8;
            }

            .overlay {
                position  : absolute;
                top       : 0;
                bottom    : 0;
                left      : -100%;
                width     : 300%;
                height    : 100%;
                background: linear-gradient(-135deg, #884747, #e0c04d, #884747, #e0c04d);
                transition: all 0.5s;
            }

            &:hover .overlay {
                left: 0;
            }
        }
    }
}